<% object = delete_notice %>

<% #Factor out to controller
  model_config = RailsAdmin.config(@abstract_model)
  model_config.bind(:object, object)
%>
<ul>
  <li>
    <%= @abstract_model.pretty_name %>: <%= link_to(model_config.bind(object).list.object_label, rails_admin_edit_path(:model_name => @abstract_model.to_param, :id => @abstract_model.get_id(object))) %>
    <ul>
      <% @abstract_model.has_many_associations.each do |association| %>
      <% object.send(association[:name]).reject{|child| child.nil?}.each do |child| %>
      <li>
        <% child_config = RailsAdmin.config(child) %>
        One or more <%= @abstract_model.pretty_name.pluralize.downcase %> in <%= association[:pretty_name].downcase %>: <%= link_to(child_config.list.object_label, rails_admin_edit_path(:model_name => association[:name].to_s.singularize.to_sym, :id => child_config.abstract_model.get_id(child))) %>
      </li>
      <% end %>
      <% end %>
      <% @abstract_model.has_one_associations.each do |association| %>
      <% child = object.send(association[:name]) %>
      <% next if child.nil? %>
      <li>
        <% child_config = RailsAdmin.config(child) %>
        A <%= @abstract_model.pretty_name.downcase %> in <%= association[:pretty_name].downcase %>: <%= link_to(child_config(child).list.object_label, rails_admin_edit_path(:model_name => association[:name], :id => child_config.abstract_model.get_id(child))) %>
      </li>
      <% end %>
    </ul>
  </li>
</ul>